body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: rgb(36, 74, 92);
}

body::-webkit-scrollbar-thumb {
  background-color: #141d2b;
  border-radius: 20px;
  border: 1px solid #ffffff;
}
body {
  margin: 0;
}

.all_celulares {
  background-color: #132849;
}

.all_celulares section {
  margin-left: 15%;
  margin-right: 15%;
  padding: 30px;
  text-align: center;
}
.celulares_nav {
  background-color: #aafd05;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75px;
  padding: 5px 10%;
}
.nav-links {
  font-family: Impact;
  list-style: none;
  font-size: 40px;
}
.nav-links li {
  display: inline-block;
  padding: 0 50px;
}
.nav-links li:hover {
  transform: scale(1.2);
}
.nav-links li a:hover {
  color: #000000;
}

.nav-links a {
  font-family: Impact;
  font-size: 18px;
  color: #141d2b;
  text-decoration: none;
}

.all_celulares h1 {
  font-style: sans-serif;
  font-size: 65px;
  color: #aafd05;
  text-shadow: 4px 1px 1px #aafd0548;
  margin: 20px;
  padding: 0px 100px;
}
.all_celulares table {
  border-style: dashed;
  border-color: #aafd05;
}
.all_celulares ul {
  font-family: "Cambria";
  margin: 20px;
  font-size: 17px;
}
.all_celulares td {
  text-align: center;
  align-items:center;
}
.all_celulares b {
  text-align: center;

  color: #ffffff;
  font-size: 23px;
  font-family: "comme";
}
.all_celulares li {
  color: #f1f1f1ee;
}
.all_celulares button {
  color: #0ba110;
  text-align: center;
  font-family: Calibri;
  font-size: 19px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #aafd05;
  transition-duration: 0.4s;
}
.all_celulares button:hover {
  background-color: #aafd05;
  color: rgb(0, 0, 0);
}
.button-checkout {
  font-family: Arial;
  position: center;
  right: 15px;
  bottom: 10px;
  font-size: 25px;
  border-radius: 10px;
  border: 2px solid #aafd05af;
  transition-duration: 0.4s;
}
.button-checkout:hover {
  background-color: #141d2b;
  color: rgb(255, 255, 255);
  box-shadow: rgb(150, 150, 150) 5px 5px 20px;
}

.all_celulares td.a {
  background-color: white;
}
