body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-track {
  background: #003f66;
}

body::-webkit-scrollbar-thumb {
  background-color: #00acea;
  border-radius: 20px;
  border: 2px solid #ffffff;
}

body {
  margin: 0;
}

.all_celulares {
  background-color: #132849;
}

.all_celulares section {
  margin-left: 15%;
  margin-right: 15%;
  padding: 30px;
  text-align: center;
}
.celulares_nav {
  background-color: #aafd05;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75px;
  padding: 5px 10%;
}
.nav-links {
  font-family: Impact;
  list-style: none;
  font-size: 40px;
}
.nav-links li {
  display: inline-block;
  padding: 0 50px;
}
.nav-links li:hover {
  transform: scale(1.2);
}
.nav-links li a:hover {
  color: #000000;
  cursor: pointer;
}

.nav-links a {
  font-family: Impact;
  font-size: 18px;
  color: #141d2b;
  text-decoration: none;
}

.all_celulares h1 {
  font-style: sans-serif;
  font-size: 65px;
  color: #aafd05;
  text-shadow: 4px 1px 1px #aafd0548;
  margin: 20px;
  padding: 0px 100px;
}

.carrito_form-celulares {
  margin-top: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.carrito_div {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  flex-wrap: wrap;
  border-radius: 13px;
  border: 10px solid;
  animation: pulsate 1s infinite;
  margin: 2px;
  margin-bottom: 50px;
  padding: 17px;
  max-width: 22%;
  overflow: hidden;
}

@keyframes pulsate {
  0% {
    border-color: #b6fa2e;
  }
  50% {
    border-color: #88ca04;
  }
  100% {
    border-color: #699c03;
  }
}

.carrito_div:hover {
  background-color: #aaaaaa;
  box-shadow: 5px 5px 7px #b6fa2e, -5px -5px 7px #b6fa2e, 5px -5px 7px #b6fa2e,
    -5px 5px 7px #b6fa2e;
}

.carrito_div input[type="checkbox"] {
  transform: scale(2);
  margin-top: 15px;
  margin-bottom: 15px;
}

.carrito_div h2 {
  text-align: center;
  margin-top: 15px;
  font-size: 30px;
}

.carrito_contenedor-img {
  text-align: center;
  opacity: 1;
}

.carrito_contenedor-img img {
  max-width: 80%;
}
.carrito_div ul {
  text-align: center;
  list-style: none;
}
/*
ul {
  text-align: center;
  list-style: none;
}

.carrito_body li {
  margin-bottom: 5px;
}

.carrito_body li::before {
  content: "•";
}
*/

.all_celulares button {
  color: #0ba110;
  text-align: center;
  font-family: Calibri;
  font-size: 19px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #aafd05;
  transition-duration: 0.4s;
}
.all_celulares button:hover {
  background-color: #aafd05;
  color: rgb(0, 0, 0);
}
.button-checkout {
  font-family: Arial;
  position: center;
  right: 15px;
  bottom: 10px;
  font-size: 25px;
  border-radius: 10px;
  border: 2px solid #aafd05af;
  transition-duration: 0.4s;
}
.button-checkout:hover {
  background-color: #141d2b;
  color: rgb(255, 255, 255);
  box-shadow: rgb(150, 150, 150) 5px 5px 20px;
}

.all_celulares td.a {
  background-color: white;
}

/*------------------
---------------------------------------
---------------------------------------
---------------------------------------
---------------------------------------
---------------------------------------
---------------------------------------
---------------------------------------
-------------------------*/

@media (max-width: 1230px) {

  .carrito_form-celulares {
    flex-direction: row;
    margin-top: 15px;
    padding: 5%;
  }

  .carrito_div {
    max-width: 40%;
  }
}

/*------------------
---------------------------------------
---------------------------------------
---------------------------------------
---------------------------------------
---------------------------------------
---------------------------------------
---------------------------------------
-------------------------*/

@media (max-width: 700px) {
  .carrito_body::-webkit-scrollbar {
    width: 7px;
  }

  .carrito_body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid #ffffff;
  }

  .carrito_header-h1 {
    font-size: 30px;
  }

  .carrito-img {
    display: none;
  }

  .carrito_body-p {
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
  }

  .carrito_form-celulares {
    flex-direction: column;
    margin-top: 15px;
    padding: 5%;
  }

  .carrito_div {
    max-width: 100%;
  }
}

/*------------------
---------------------------------------
---------------------------------------
---------------------------------------
---------------------------------------
---------------------------------------
---------------------------------------
---------------------------------------
-------------------------*/

@media (max-width: 400px) {

  .carrito_header-h1 {
    font-size: 20px;
  }

  .carrito_opciones-input {
  }

  .carrito_opciones-aceptar {
    border: 2px solid #007e06;
    padding: 5px 15px;
    font-size: 10px;
    border-radius: 10px;
  }

  .carrito_opciones-resetear {
    border: 2px solid #830202;
    padding: 5px 15px;
    font-size: 10px;
    border-radius: 10px;
  }
}

