body {
  background-color: #132849;
  color: rgb(250, 250, 250);
}

body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-track {
  background: #003f66;
}

body::-webkit-scrollbar-thumb {
  background-color: #00acea;
  border-radius: 20px;
  border: 2px solid #ffffff;
}

h1 {
  font-size: 70px;
  color: rgb(35, 146, 35);
  margin: 0px 30px;
}

iframe {
  border: 5px solid rgb(22, 168, 88);
}

.cont {
  display: flex;
  justify-content: space-evenly;
}

.cont > div {
  font-size: 25px;
  border-radius: 20px;
  border: 3px dashed rgb(11, 196, 103);
  padding: 10px;
}

li > a {
  font-size: 15px;
  color: aliceblue;
  text-decoration: none;
}

#mensaje {
  display: flex;
  margin: 50px;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}

#mensaje > div {
  border-radius: 50px;
  border: 3px solid white;
  padding: 50px;
}
