body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.inicioSesion {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.inicioSesion h2 {
    text-align: center;
    margin-bottom: 20px;
}

.inicioSesion label {
    display: block;
    font-weight: bold;
}

.inicioSesion input[type="email"],
.inicioSesion input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-right: 1px;
}

.inicioSesion input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.inicioSesion input[type="submit"]:hover {
    background-color: #45a049;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #4CAF50;
}

a:hover {
    text-decoration: underline;
}